

<section class="section about" aria-label="about">
    <div class="container">

        <div class="about-banner img-holder" style="--width: 600; --height: 700;">
            <img src="~/images/about-banner.jpg" width="600" height="700" loading="lazy" alt="about banner" class="img-cover">

            <button class="play-btn" aria-label="play video">
                <ion-icon name="play" aria-hidden="true"></ion-icon>
            </button>
        </div>

        <div class="about-content">

            <h2 class="h2 section-title">Efficiency. Transparency. Control.</h2>

            <p class="section-text">
                Hously developed a platform for the Real Estate marketplace that allows buyers and sellers to easily
                execute a
                transaction on their own. The platform drives efficiency, cost transparency and control into the hands of
                the consumers.
                Hously is Real Estate Redefined.
            </p>

            <a href="https://www.youtube.com/watch?v=pPl3ZZdTP3g" class="popup-video-link video-popup__button">
                <i class="fas fa-play"></i>
            </a>

        </div>

    </div>
</section>

