
<section class="section hero" aria-label="hero">
    <div class="container">

        <div class="hero-bg-list">
            <div class="hero-content-list ">

                <h1 class="h1 hero-title-list">
                    Hayalinizdeki gayrimenkul <span class="span">Develioglu</span> guvencesiyle
                </h1>
            </div>
        </div>



    </div>
</section>