

<section class="section hero" aria-label="hero">
    <div class="container">

        <div class="hero-bg-list">
            <div class="hero-content-list ">

                <h1 class="h1 hero-title-list">
                    Hayalinizdeki gayrimenkul <span class="span">Develioglu</span> guvencesiyle
                </h1>
            </div>
        </div>
        <div class="hero-form-wrapper">
            <div class="form-tab">

                <button class="tab-btn active" data-tab-btn>Satılık</button>
                <button class="tab-btn" data-tab-btn>Kiralık</button>

            </div>

            <form action="" class="hero-form">

                @*<div class="input-wrapper">

                    <label for="search" class="input-label"> Başlığa Göre Arayın </label>

                    <input type="search" name="search" id="search" placeholder="Başlığa Göre Arayın" required class="input-field">

                    <ion-icon name="search-outline"></ion-icon>

                </div>*@

                <div class="input-wrapper">
                    <label for="category" class="input-label">Katagori Seç:</label>

                    <select name="category" id="category" class="dropdown-list">

                        <option value="Ev">Ev</option>
                        <option value="Daire">Daire</option>
                        <option value="Ofis">Ofis</option>
                        <option value="Tarla">Tarla</option>

                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="max-price" class="input-label">Bölge :</label>

                    <select name="max-price" id="max-price" class="dropdown-list">

                        <option value="Bölge">Bölge</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>



                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="min-price" class="input-label">Emalak Danışmanı :</label>

                    <select name="min-price" id="min-price" class="dropdown-list">

                        <option value="Danışmanı">Danışmanı</option>
                        @foreach (var item in Model)
                        {
                            @* <option value="
                        @Html.DisplayFor(modelItem => item.YoneticiAdi)">
                        @Html.DisplayFor(modelItem => item.YoneticiAdi)
                        </option>*@


                        }

                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="max-price" class="input-label">Bölge :</label>

                    <select name="max-price" id="max-price" class="dropdown-list">

                        <option value="Bölge">Bölge</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>



                    </select>
                </div>
                <div class="input-wrapper">
                    <label for="max-price" class="input-label">Bölge :</label>

                    <select name="max-price" id="max-price" class="dropdown-list">

                        <option value="Bölge">Bölge</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>



                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="max-price" class="input-label">Bölge :</label>

                    <select name="max-price" id="max-price" class="dropdown-list">

                        <option value="Bölge">Bölge</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>



                    </select>
                </div>
                <div class="input-wrapper">
                    <label for="max-price" class="input-label">Bölge :</label>

                    <select name="max-price" id="max-price" class="dropdown-list">

                        <option value="Bölge">Bölge</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>
                        <option value="Bölge1">Bölge1</option>



                    </select>
                </div>

                <button type="submit" class="btn btn-primary">
                    <a href="/emlak_list.html"></a>
                    Gayrimenkul Ara
                </button>

            </form>
        </div>

      @*  <div class="hero-form-wrapper">
            <div class="form-tab">

                <button class="tab-btn active" data-tab-btn>Buy</button>
                <button class="tab-btn" data-tab-btn>Sell</button>
                <button class="tab-btn" data-tab-btn>Rent</button>

            </div>

            <form action="" class="hero-form">

                <div class="input-wrapper">

                    <label for="search" class="input-label">Search : *</label>

                    <input type="search" name="search" id="search" placeholder="Search your home" required class="input-field">

                    <ion-icon name="search-outline"></ion-icon>

                </div>

                <div class="input-wrapper">
                    <label for="category" class="input-label">Select Categories:</label>

                    <select name="category" id="category" class="dropdown-list">

                        <option value="house">House</option>
                        <option value="apartment">Apartment</option>
                        <option value="offices">Offices</option>
                        <option value="townhome">Townhome</option>

                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="min-price" class="input-label">Min Price :</label>

                    <select name="min-price" id="min-price" class="dropdown-list">

                       
                        

                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="max-price" class="input-label">Max Price :</label>

                    <select name="max-price" id="max-price" class="dropdown-list">

                        <option value="max price">Max Price</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                        <option value="3000">3000</option>
                        <option value="4000">4000</option>
                        <option value="5000">5000</option>
                        <option value="6000">6000</option>

                    </select>
                </div>

                <button type="submit" class="btn btn-primary">
                    <a href="/emlak_list.html"></a>
                    Search now
                </button>

            </form>
        </div>
        *@
    </div>
</section>