

<section class="instructor">

    <div class="container">       


        <ul class="instructor-list">

            <li>
                <div class="container">

                    <div class="about-banner img-holder" style="--width: 600; --height: 700;">
                        <img src="~/images/aile.jpg" width="600" height="700" loading="lazy" alt="about banner" class="img-cover">


                    </div>

                    <div class="about-content">

                        <h2 class="h2 section-title">Efficiency. Transparency. Control.</h2>

                        <p class="section-text">
                            Hously developed a platform for the Real Estate marketplace that allows buyers and sellers to easily
                            execute a
                            transaction on their own. The platform drives efficiency, cost transparency and control into the hands of
                            the consumers.
                            Hously is Real Estate Redefined.
                        </p>


                    </div>



                </div>
            </li>

            <li>
                <div class="container">

                    <div class="about-banner img-holder" style="--width: 600; --height: 700;">
                        <img src="~/images/mimar.jpg" width="600" height="700" loading="lazy" alt="about banner" class="img-cover">


                    </div>

                    <div class="about-content">

                        <h2 class="h2 section-title">Efficiency. Transparency. Control.</h2>

                        <p class="section-text">
                            Hously developed a platform for the Real Estate marketplace that allows buyers and sellers to easily
                            execute a
                            transaction on their own. The platform drives efficiency, cost transparency and control into the hands of
                            the consumers.
                            Hously is Real Estate Redefined.
                        </p>


                    </div>



                </div>
            </li>

            <li>
                <div class="container">

                    <div class="about-banner img-holder" style="--width: 600; --height: 700;">
                        <img src="~/images/evrak.jpg" width="600" height="700" loading="lazy" alt="about banner" class="img-cover">


                    </div>

                    <div class="about-content">

                        <h2 class="h2 section-title">Efficiency. Transparency. Control.</h2>

                        <p class="section-text">
                            Hously developed a platform for the Real Estate marketplace that allows buyers and sellers to easily
                            execute a
                            transaction on their own. The platform drives efficiency, cost transparency and control into the hands of
                            the consumers.
                            Hously is Real Estate Redefined.
                        </p>


                    </div>



                </div>
            </li>





        </ul>


    </div>
</section>


<section class="newsletter" aria-label="newsletter">
    <div class="container">

        <div class="wrapper">
            <h2 class="h2 section-title">Subscribe to Newsletter!</h2>

            <p class="section-text">Subscribe to get latest updates and information.</p>
        </div>

        <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Enter your email :" aria-label="Enter your email" required
                   class="email-field">

            <button type="submit" class="btn btn-secondary">Subscribe</button>
        </form>

    </div>
</section>


