
<section class="section service" aria-label="service">
    <div class="container">

        <h2 class="h2 section-title">How It Works</h2>

        <p class="section-text">
            A great plateform to buy, sell and rent your properties without any agent or commisions.
        </p>

        <ul class="service-list">

            <li>
                <div class="service-card">

                    <div class="card-icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>

                    <h3 class="h3 card-title">Evaluate Property</h3>

                    <p class="card-text">
                        If the distribution of letters and 'words' is random, the reader will not be distracted from making.
                    </p>

                </div>
            </li>

            <li>
                <div class="service-card">

                    <div class="card-icon">
                        <ion-icon name="briefcase-outline"></ion-icon>
                    </div>

                    <h3 class="h3 card-title">Meeting with Agent</h3>

                    <p class="card-text">
                        If the distribution of letters and 'words' is random, the reader will not be distracted from making.
                    </p>

                </div>
            </li>

            <li>
                <div class="service-card">

                    <div class="card-icon">
                        <ion-icon name="key"></ion-icon>
                    </div>

                    <h3 class="h3 card-title">Close the Deal</h3>

                    <p class="card-text">
                        If the distribution of letters and 'words' is random, the reader will not be distracted from making.
                    </p>

                </div>
            </li>

        </ul>

    </div>
</section>


